msg_gen/
msg_cs_gen/
srv_gen/
proxy_gen/
idl_gen/
log/temp/
bin/
lib/
build/
*.swp
*.*~
_*.py
_*.pyc
*.exe
*.dll
*.mdb
*.o
.libs/
.deps/

autom4te.cache
config.log
config.status
*.la
*.lo
#config.in

*.csproj
*.pidb

#fann stuff
supplementary/fann/fann-2.1.0/Makefile
supplementary/fann/fann-2.1.0/config.log
supplementary/fann/fann-2.1.0/config.status
supplementary/fann/fann-2.1.0/fann.pc
supplementary/fann/fann-2.1.0/fann.spec
supplementary/fann/fann-2.1.0/libtool
supplementary/fann/fann-2.1.0/src/Makefile
supplementary/fann/fann-2.1.0/src/doublefann.lo
supplementary/fann/fann-2.1.0/src/fixedfann.lo
supplementary/fann/fann-2.1.0/src/floatfann.lo
supplementary/fann/fann-2.1.0/src/include/Makefile
supplementary/fann/fann-2.1.0/src/include/stamp-h1
supplementary/fann/fann-2.1.0/src/libdoublefann.la
supplementary/fann/fann-2.1.0/src/libfann.la
supplementary/fann/fann-2.1.0/src/libfixedfann.la
supplementary/fann/fann-2.1.0/src/libfloatfann.la

#ignore fann NOBUILD if it exists locally
supplementary/fann/ROS_NOBUILD

/impera.mdproj
/impera.sln
/impera.userprefs
/TestPackages/TestSolver/out.txt
/TestPackages/TestSolver/evaluation/obstacles.txt
/TestPackages/TestSolver/evaluation/linkPositions.png
/TestPackages/TestSolver/testESKit
/TestPackages/TestSolver/src/testms.c
/TestPackages/TestSolver/log/QSolver/RobotArmModel--jens-laptop--Results.log
/TestPackages/TestSolver/log/QSolver/RobotArmModel--jens-laptop.log
/TestPackages/TestSolver/log/ESsolver/RobotArmModel--jens-laptop--Results.log
/TestPackages/TestSolver/log/ESsolver/RobotArmModel--jens-laptop.log
/TestPackages/TestSolver/CMakeCache.txt
/TestPackages/TestSolver/CMakeFiles/clean-test-results.dir/build.make
/TestPackages/TestSolver/CMakeFiles/clean-test-results.dir/DependInfo.cmake
/TestPackages/TestSolver/CMakeFiles/clean-test-results.dir/cmake_clean.cmake
/TestPackages/TestSolver/CMakeFiles/
